h1{
    background-color: aqua;
    border-radius: 60px;
    border: 2px solid red;
}
i{
    color: red;
}
h3{
    color: green;
}
p{
    color: green;
}
h4{
    background-color: yellow;
}
h5  {
    color: darkgrey;
}
h6{
    background-color: blue;
}
h6{
    background-color: green;
}
